@font-face {
    font-family: "PP Telegraf";
    src: url(/fonts/pptelegraf-regular.woff) format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: "PP Telegraf";
    src: url(/fonts/pptelegraf-ultralight.woff) format("woff");
    font-weight: 200;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: "PP Telegraf";
    src: url(/fonts/pptelegraf-ultrabold.woff) format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap
}

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display: block
}

body {
    line-height: 1
}

ol,ul {
    list-style: none
}

blockquote,q {
    quotes: none
}

blockquote:before,blockquote:after,q:before,q:after {
    content: "";
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

.home_featured_btn_text,.home_hero_arrow,.home_hero_circle2,.home_hero_circle {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
}

*,*:before,*:after {
    box-sizing: border-box
}

html {
    font-size: .6944444444vw;
    line-height: 1;
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    user-select: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

html.load {
    position: relative;
    left: 0;
    top: 0;
    width: auto;
    height: auto;
    overflow: auto;
}

body {
    height: 100%;
    width: 100%;
    touch-action: none;
    /* background-color: #000;  */
    color: #fff;
    font-family: "PP Telegraf";
    letter-spacing: -0.07rem;
    text-transform: uppercase;
    /* cursor: none */
}

.bg {
    width: 100%;
    height: 0;
    background-color: #000; 
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000
}

.inner {
    height: 100%;
    padding: 0 5rem;
    position: relative;
}


.no-scroll {
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
    /*display: none;*/
}

/**********************/
/****  Preloader  *****/
/**********************/


.preloader {
    z-index: 5000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000
}

.preloader p {
    position: fixed;
    right: 5rem;
    bottom: 5rem;
    font-size: 8rem;
    color: #000;
    font-weight: 400;
    overflow: hidden
}

.preloader p span {
    display: inline-block
}

.preloader .preloader-bg {
    width: 100%;
    height: 100%;
    background-color: #fff
}

.preloader .preloader-txt-wrap {
    height: 10rem;
    top: calc(50% - 5rem);
    line-height: 10rem;
    display: flex;
    position: fixed;
    color: #000;
    font-size: 12rem;
    letter-spacing: -0.5rem;
    font-weight: 500;
    overflow: hidden
}

.preloader .preloader-txt-wrap.le {
    left: 26rem;
}

.preloader .preloader-txt-wrap.ri {
    right: 39rem;
    padding-left: 10rem;
}

.preloader .preloader-txt-wrap span {
    display: block;
    width: auto
}

.preloader .hidden-txt {
    display: inline-block;
    opacity: 0 !important
}

.preloader .txt-v2 {
    transform: translateY(100%);
}


/**********************/
/****    cursor   *****/
/**********************/

#cursor {
    width: 10px;
    height: 10px;
    background: white;
    z-index: 9999;
    border-radius: 50%;
    pointer-events: none;
    position: fixed;
    left: 0;
    top: 0;
    mix-blend-mode: difference;
}

#cursor.link {
    width: 30px;
    height: 30px;
}

/**********************/
/****    header   *****/
/**********************/

#header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

#header .header-body {
    width: 100%;
    height: 9rem;
}

#header .header-body .logo {
    height: 100%;
    position: absolute;
    left: 40px;
    top: 50%;
    margin-top: -35px;
    font-size: 4rem;
    letter-spacing: -0.15rem;
}

#header .header-body .gnb-items li { 
    display: inline-block;
    padding: 50px;    
    font-size: 1.6rem;
}

#header a { 
    color: #fff;
}


/**********************/
/****    main    *****/
/**********************/

.arrow-wrap {
    position: relative;
    width: 15rem;
    height: 15rem;
    margin-top: 5rem;
    /* margin-top: 5.7rem;
    margin-left: 2rem */
}

.main-about .arrow-wrap {
    position: absolute;
    top: 50%;
    right: 24vh;
    margin-top: -7.5rem;
}

.main-project .arrow-wrap {
    margin-top: 0;
}

.circle-box {
    position: absolute;
    width: 10rem;
    height: 10rem;
    top: 50%;
    left: 50%;
    margin-top: -5rem;
    margin-left: -5rem;

}

.circle-box svg {
    width: 100%;
    height: 100%;
    transform: rotate(-45deg);
}

.circle-box svg circle {
    stroke: #fff;
    cx: 50%;
    cy: 50%;
    r: 5rem;
    stroke-width: 1px;
    fill: none;
    stroke-dasharray: 500;
    stroke-dashoffset: 500;
}

.circle-box.circle-txt .txt-wrap {
    height: 100%;
}

.circle-box.circle-txt p {
    font-size: 1.2rem;
    color: #fff;
    /* transition: all 0.3s; */
}

.circle-box.circle-txt p:last-child{
    margin-left: 1rem;
}

.arrow-wrap .layer {
    cursor: pointer;
}

.arrow-box {
    position: absolute;
    width: 2.9rem;
    height: 3.6rem;    
    margin-top: -1.8rem;
    margin-left: -1.45rem;
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center
}

.arrow-wrap.type2 .arrow-box svg {
    opacity: 0;
}

.arrow-wrap.type2 .arrow-box svg {
    transform: rotate(-135deg)
}

.arrow-wrap.type2.off .circle-txt p {
    opacity: 0;
}

.arrow-wrap.type2.off .arrow-box svg {
    opacity: 1;
}

/**********************/
/****    main    *****/
/**********************/

#main {
    padding-top: 9rem;
}

.section-body {
    height: 100%;
}

.main-visual {
    width: 100%;
    height: calc(100vh - 9rem);
}

.main-visual .con-area {
    padding-top: 5rem;
}

.main-visual .tit-box {
    font-size: 12rem;
    letter-spacing: -1.7rem;
    height: 9.6rem;
    position: relative;
    font-weight: 500;
}

.main-visual .tit-box .txt-hidden,
.main-visual .tit-box .txt-show {
    width: 100%;
    position: absolute;
    left: 0;
    overflow: hidden;
}

.main-visual .tit-box span {
    display: inline-block;
    font-kerning: initial;
}

.main-visual .tit-box .txt-description p {
    overflow: hidden;
}

.main-visual .tit-box .txt-show span,
.main-visual .tit-box .txt-description span{
    transform: translateY(101%);
}

.main-visual .tit-box.tit-together {
    width: 65rem;
}

.main-visual .tit-box.tit-communicate {
    width: 98rem;
}

.main-visual .tit-box.tit-grow {
    width: 40rem;
    margin-left: -10rem;
}

.main-visual .tit-box .txt-description {
    font-size: 1.5rem;
    line-height: 1.5rem;
    letter-spacing: -0.01rem;
    position: absolute;
    left: 41rem;
    top: 2.5rem;
    width: 22rem;
    text-transform: uppercase;
    font-weight: 400;
}


/*******************************/
/****     main - about     *****/
/*******************************/

.main-about {
    width: 100%;
}

.main-about .inner {
    padding: 5rem;
}

.main-about .img-box {
    position: relative;
    z-index: 0;
    width: 100%;
    height: 75vh;
    display: block;
    overflow: hidden;
    clip-path: inset(0% 30% 0% 30%);    
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
}

.main-about .img-box::before {
    content: '';
    display: block;
    clear: both;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.main-about .img-box img {
    width: 100%;
    height: 100%!important;
    position: relative;
    display: block;
    z-index: 0;
    object-position: center;
    object-fit: cover;
}

.main-about .about-description {
    position: absolute;
    top: calc(50vh + 12%);
    margin-top: -25vh;
    left: 5rem;    
    font-size: 1.4rem;
    line-height: 1.8rem;
    letter-spacing: -0.056rem;
}

.section-description p:not(.section-description.none p) {
    transform: translate(0, 50%);
    visibility: hidden;
    opacity: 0;
}


/*******************************/
/****     main - project     *****/
/*******************************/

.main-project {
    width: 100%;
    height: 100vh;
}

.main-project .con-area {
    width: 100%;
}

.main-project .project-description {
    font-size: 1.6rem;
    line-height: 2.0rem;
    letter-spacing: -0.056rem;
}

.project-wrap .project-box {
    width: 28vw;
    position: relative;
}

.project-wrap .project-box::before {
    content: '';
    display: block;
    clear: both;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}


.project-wrap .project-box a {
    width: 100%;
    height: 100%;
    display: block;
}

.project-wrap .project-box .img {
    width: 100%;
    height: 60vh;
    border-radius: 4vh;
    overflow: hidden;
}


.project-wrap .project-box .img::after {
    content: '';
    display: block;
    clear: both;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    transition:all .4s ease; 
    -webkit-transition:all .4s ease; 
    -ms-transition:all .4s ease;
    -moz-transition:all .4s ease;
    -o-transition:all .4s ease; 
}

.project-wrap .project-box:hover .img::after {
    opacity: 0;
}

.project-wrap .project-box.project-box1 .img {
    background: url(/img/main_project1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.project-wrap .project-box.project-box2 .img {
    background: url(/img/main_project2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.project-wrap .project-box.project-box3 .img {
    background: url(/img/main_project3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.project-wrap .project-box .img-desc {
    visibility: hidden;
    opacity: 0;
    transition: all .3s;
    color: #fff;
    margin-top: 0.5rem;
    line-height: 1.5rem;    
    font-size: 1.1rem;
    margin-left: 1rem;
}

.project-wrap .project-box:hover .img-desc {
    visibility: visible;
    opacity: 1;
}


/*******************************/
/****     main - connect     *****/
/*******************************/

.main-connect {
    width: 100%;
    height: 100vh;
}

.main-connect .con-area {
    width: 100%;
}

.connect-wrap {
    width: 100%;
    height: 75vh;
    position: relative;
}

.connect-wrap .ani-box {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 3rem;
    border: 3px solid rgba(255, 255, 255, 0.3);
}